@import url('https://fonts.googleapis.com/css2?family=DIN+Next+Rounded:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'DIN Next Rounded', sans-serif;
  }
}
